<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" th:fragment="menu">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">SWAPI APP</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/film}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/character}">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/vote}">Votes</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/user}">Users</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Log In</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>