<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Successfully registered</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div th:insert="fragments/header :: menu"></div>

    <div class="container mt-5">
        <h1 class="mb-5"> CONGRATULATIONS! <br> YOU HAVE SUCCESSFULLY REGISTERED TO OUR WEBAPP. CLICK ON THE BUTTON BELOW TO LOG IN!</h1>
        <a th:href="@{/login}" class="btn btn-success btn-sm ml-auto mr-auto">VOTE</a>
    </div>
</body>
</html>